start the programming by importing essential libraries

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

Importing of the dataset

In [5]:
data = pd.read_csv('diamonds.csv')
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

droping the unwanted columns

In [6]:
# droping the columns that contain string
data.drop(['cut','clarity','color'],axis=1,inplace=True)

In [7]:
data.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

Reindexing the dataset

In [26]:
data=data.reindex(columns=['carat','depth','table','x','y','z','price'])
data.head()

   carat  depth  table     x     y     z  price
0   0.23   61.5   55.0  3.95  3.98  2.43    326
1   0.21   59.8   61.0  3.89  3.84  2.31    326
2   0.23   56.9   65.0  4.05  4.07  2.31    327
3   0.29   62.4   58.0  4.20  4.23  2.63    334
4   0.31   63.3   58.0  4.34  4.35  2.75    335

slicing it into independent and dependent variables

In [10]:
X=data.drop('price',axis=1)
y=data['price']

In [11]:
X.head()

   carat  depth  table     x     y     z
0   0.23   61.5   55.0  3.95  3.98  2.43
1   0.21   59.8   61.0  3.89  3.84  2.31
2   0.23   56.9   65.0  4.05  4.07  2.31
3   0.29   62.4   58.0  4.20  4.23  2.63
4   0.31   63.3   58.0  4.34  4.35  2.75

In [12]:
y.head()

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

Next,doing feature scaling to the training and test set of independent variables for reducing the size to smaller values

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X)
scaler=sc.transform(X)

storing the data into new variable make new frame

In [14]:
X_sc=pd.DataFrame(scaler,columns=X.columns,index=X.index)

In [15]:
X_sc.head()

      carat     depth     table         x         y         z
0 -1.198168 -0.174092 -1.099672 -1.587837 -1.536196 -1.571129
1 -1.240361 -1.360738  1.585529 -1.641325 -1.658774 -1.741175
2 -1.198168 -3.385019  3.375663 -1.498691 -1.457395 -1.741175
3 -1.071587  0.454133  0.242928 -1.364971 -1.317305 -1.287720
4 -1.029394  1.082358  0.242928 -1.240167 -1.212238 -1.117674

performing a train test split on the dataset.providing the test size as 0.20, that means training sample contains 320 training set and test sample contains 80 test set

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

Now have to create and train the K Nearest Neighbor model with the training set

In [17]:
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors = 1)
model.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=1)

Model is created, now we have to predict the output for the test set

In [18]:
y_pred = model.predict(X_test)

Comparing true and predicted value

In [19]:
print(y_test)

1388      559
50052    2201
41645    1238
42377    1304
17244    6901
         ...
44081    1554
23713     633
31375     761
21772    9836
4998     3742
Name: price, Length: 10788, dtype: int64

In [20]:
print(y_pred)

[ 678. 1739. 1153. ...  666. 9660. 5072.]

Calculate r2_score and mean_squared_error for the dataset because accuracy is not possible its comes under regression

In [27]:
# import the metrics class
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [48]:
new=model.predict([[6.0,148,72.0,35.0,0.0,33.6]])
print(new)

[2579.]

C:\Users\Ankush\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [21]:
from sklearn.metrics import r2_score, mean_squared_error

In [22]:
r2score=r2_score(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)

In [23]:
r2score

0.7954102089525228

In [24]:
mse

3252327.379032258

# Inference

In this program i have taken Social_Network_Ads.csv dataset for predict the value using KNN regression algorithm .

Here i got 79 % r2_score and mean squared error also calculated for this dataset.

Here accuracy is not possible this program implieses regression...accuracy is replaced with r2_score

According to dataset using given values proper price for diamonds  is calculated